
.search-bar{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* outline: 1px red solid; */

    padding: 10px;
    width: 60%; 
  }
  .search-form{
    display: flex;
    height: 30px;
    justify-content: space-between;
    background-color: #151414;
  }
  .search-input{
    
    padding: 2px;
    width: 100%;
    /* height: 30px;
    width: 77%; */
  }
  .search-btn{
  
    /* background-color: #1a67e4; */
    /* height: 36px;
    width: 20%; */
  }
  .search-results{
    display: flex;
    background-color: #4b4a4a;
    /* justify-content: right; */
    outline: 1px solid rgb(4, 0, 0);
    color: white;
    /* width: 100%; */
    position: relative;
    /* margin-left:40px;  */
    /* gap : 10px; */
    padding: 10px;
  }
  .search-results:hover{
    background-color: #615e5e;
    
  }
  .search-results-container{
    /* outline: 1px solid red; */
    height: 200px;
    overflow-y: scroll;
  }
  .search-results-container::-webkit-scrollbar {
    display:  none;
  }
  .search-results-name{
    position: relative;
    left: 10px;
  }
  /* .search-results-name:hover{
  } */
  .search-results-add{
    /* outline: 1px solid blue; */
    transition: transform 0.3s ease;
    position: absolute;
    right: 40px;
  }
  .search-results-add:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  .search-results-remove{
    /* outline: 1px solid blue; */
    position: absolute;
    right: 10px;
  }
  .search-results-remove:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .search-heading{
    color: aliceblue;
    padding: 10px;
    font-weight: 10;
    text-align: center;
    background-color:  #3a3838;
  }
  
  .search-message-container{
    /* outline: 1px solid red; */
    position: absolute;
    bottom: -60px;
    height: 50px;
    width: 60%;
    /* left: -1px; */
  }
  
  .friends-page-container{
    /* outline: 1px solid blue; */
     height: 400px;
     position: absolute;
     top : 200px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
  }