.Login-Page{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  a:visited{
    color: rgb(59, 59, 202);
    /* text-decoration:; */
  }
  .login-title{
    position: absolute;
    top: -70px;
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    /* outline: 1px solid yellow; */
    /* top:-5%; */
    font-weight: 100;
    font-size: 2rem;
  }
  .login-container{
    height: 50%;
    width: 40%;
    color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 34, 34);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* display: flex;
    flex-direction: coont;
    justify-content: center; */
  }

  .register-input-container{
    /* outline: 1px solid red; */
    width: 100%;
    color: inherit;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 20px; */
}

.input-container{
    border-radius: 15px;
    position: relative;
    /* outline: 1px solid red; */
    /* top:10px; */
}

  .forget-password-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}


.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 10%;
    text-decoration: none;
  }


.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
  }

  
  .msg-txt {
    position: absolute;
    right: 20px;
    top: 50%; /* Position the message text vertically centered */
    transform: translateY(-50%); /* Center the message text vertically */
    font-size: 12px;
}

.register-message-container{
   height: 100px;
   width: 60%;
   position: absolute;
   text-transform: none;
   font-size: 1px;
   /* z-index: 0; */
}