@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


body{
  background-color:#151414;
  text-transform: capitalize;
  position: relative;
  height: 100%;
  height: 100%;
  spellcheck:false;
  /* background-color: #116bfc; */
  /* padding: 0; */
  /* height: 200px; */
  z-index: 0;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  /* padding: 0; */
}



.account-details-par{
  position: absolute;
  top:10px;
  right:20px;
  /* outline:1px solid; */
  font-weight: 80;
  width: 250px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* border:1px solid; */
  /* outline: 1px rgb(116, 113, 113)solid  */
  
  border-radius: 5px;
  /* color: aliceblue; */
}
.account-details{
  border: 1px rgb(116, 113, 113)solid;
  width : 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding: 10px;
}
.account-details:hover{
  cursor: pointer;
}
.account-details-par{
  position: absolute;
  top:10px;
  right:20px;
  font-weight: 80;
  width: 250px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* border:1px solid; */
  /* outline: 1px rgb(116, 113, 113)solid  */
  
  border-radius: 5px;
  /* color: aliceblue; */
}
.acc-btn{
  display: flex;
  width: 40%;
  align-items: center;
  gap:5px;
  margin:5px;
  text-decoration:none;
  color: white;
}
.acc-btn :hover{
  cursor: pointer;
}
.leader-search-container{
  
  /* outline: 1px solid red;  */
  position: absolute;
  right:0px;
  top: 320px;
  height: 50%;
  width: 80%;
  display: flex;
}
.leaderboard-container{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 50%;
  position: absolute;
  height: 100%;
  /* top : 15%; */
  left: 100px;
  outline: 1px solid rgb(87, 84, 84, 0.5);
}
.leaderboard{
  /* outline: 4px solid green; */
  color: aliceblue;
  width: 100%;
  height: 50px;
  /* position: relative; */
  /* outline: 1px solid  blue; */
}
.leaderboard-head{
  /* outline: 1px solid white; */
}
.leaderboard-hc{
  /* outline: 1px solid white; */
  padding: 10px;
  width: 100%;
}
.leaderboard-hr{
  display: flex;
  justify-content: center;
  /* width: 100%; */
}
.leaderboard-title{
  display: flex;
  gap : 10px;
  padding: 10px;
  background-color:  #312f2f;
}
.table-data{
  width: 100%;
  /* outline: 1px solid white; */
  display: flex;
  justify-content: center;
  padding: 15px;
}
.table-body{
  width: 100%;
}
.table-body-container{
  display: flex;
  justify-content: center;
  max-height: 300px;
  overflow-y: scroll;
}
.table-body-container::-webkit-scrollbar {
  display: none;
}

.table-body-row{
  /* outline: 1px solid green; */
  display: flex;
  justify-items:center;
}

.alphabet-keys{
  color: aliceblue;
  border: 1px solid rgb(255, 255, 255, 0.1);
  width: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  text-align: center;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
} 
.keyboard{
  width: 35%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
}

.keyboard-row{
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.title{
  font-weight: 80;
  position: absolute;
  font-size: 40px;
  /* outline: 1px solid red; */
  /* right: 130%; */
  /* margin-top:40px; */
  /* position: absolute; */
}
.score{
  font-size: 15px;
  font-weight:100;
  margin-top: 7px;
}
.word-row{
  display: flex;
  justify-content: center;
}
.block{
  font-size:20px;
  outline: 1px solid rgb(255, 255, 255, 0.3);
  height: 20px;
  width: 20px;
  text-align: center;
  color: azure;
  padding: 20px ;
  margin: 10px 8px;
  border-radius: 8px;
  opacity: 0.8;
  background-color:#151414;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  /* outline: 1px solid red; */
}

.winner{
  color: whitesmoke;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom :10%;
  /* background-color: aqua; */
  height: 100px;
}
.restart{
  font-size: 30px;
  padding: 10px;
  margin-top: 20px;
}
.wordle-body{
  display: flex;
  /* outline: 1px solid red; */
  position: absolute;
  top:110px;
  /* background-color: aqua; */
  justify-content: center;
  width:100%;
  height: 440px;
}
.winner-text{
  font-size: 30px;
  padding: 10px;
}
.hintandword{
  display: flex;
  justify-content:center;
  align-items: center;
  /* outline: 1px solid blue; */
  position: relative;
  /* background-color: blue; */
}

.hintData::-webkit-scrollbar{
  display: none;
}

.Words{
  margin-bottom: 10px;
  margin-top: 2px;
  /* background-color:red; */
  /* margin-right:400px; */
  display: block;
  justify-content: center;
}
.hint-btn{
  padding: 5px;
  background-color: rgb(75, 181, 67);
  color: azure;
  width: 100px;
  border: 1px solid black;
}
.hints{
  /* outline: 2px solid red; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  top: 0;
  left: 120%;
  width: 200px;
  margin-left: 10px;
  margin-top: 22px; 
}
.hintData{
  /* background-color: azure; */
  z-index: 100;
  color: aliceblue;
  max-height: 300px;
  overflow-y: scroll;
  text-align: left;
  padding: 20px;
  border-radius: 3px;
  font-weight: 100;
  /* margin-top: 10px;
  margin-left:30px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.profile-image:hover{
  transform: scale(1.1); 
}
.show-friends-btn{
  position: absolute;
  right: 20px;
}
.timer{
  position: absolute;
  left: 300px;
  height: 200px;
  width: 200px;
  /* outline : 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: aliceblue;
  font-weight: 10;
}



.live-leaderboard-container{
  outline: 1px solid rgb(152, 152, 152, 0.5);
  /* outline: 1px solid red; */
  position: absolute;
  left:20px;
  top:25px;
  /* box-sizing: border-box; */
  width: 400px;
  display: flex;
  height: 550px;
  /* flex-direction: column; */
  box-sizing: border-box;
  /* align-items: center; */
  justify-content: center;
  filter: none;
  /* z-index: ; */
}
.guessed {
  background-color: rgb(93, 173, 93);
  border-radius: 1px;
}


@keyframes block-animation {
  0% {
      transform: rotateY(180deg); /* Initial state: rotate 180 degrees about the x-axis */
  }
  100% {
      transform: rotateY(0deg); /* Final state: no rotation */
  }
}


.animated{
  animation: block-animation 1.5s ease;
}

.create-room-page{
  width: 100vw;
  height: 100vh;
  outline: 1px solid red;
  padding: 0px;
  /* position: relative; */
  /* background-color: #116bfc; */
  /* padding: 0px; */
}


@keyframes blur-back {
  from{
      filter: blur(0px);
  }
  to{
      filter: blur(3px);
  }
}
.back-animate{
  animation: blur-back 2s ease forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.UserPage{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  z-index: 0;
}


@keyframes leader-ani {
  0%{
    opacity: 0;
  }
  5%{
    opacity: 0;
  }
  10%{
    /* transform: scale(0); */
    opacity: 0;
  }
  100%{
    transform: scale(1.2);
    opacity: 1;
  }
}

.blur{
  filter: blur(2px);
  
}

.live-leaderboard-container{
  filter: none;
}

.final-leaderboard{
  outline: 2px solid red;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-animation{
  opacity: 1;
  position: relative;
  height: 400px;
  /* transform: scale(1.5); */
  top:0;
  left:0;
  animation: leader-ani 2s ease forwards;
  /* animation-delay: ; */
  background-color:#181818
}

.spinner-animation-container{
  height: 100%;
  width: 100%; 
  position: absolute;
  /* border: 1px solid red; */
  display:  flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.spinner{
   
    filter: none;
    height: 30px;
    width: 30px;
    border: 3px solid white;
    border-radius: 50%;
    border-right-color: rgb(94, 92, 92);
    animation: spin 1s infinite;
    /* bor */
}

@keyframes spin {
    100%{
      transform: rotate(360deg);
    }
}





.back{
  left: 10%;
  top: 15%;
  position: absolute;
  height: 60px;
  background-color: rgb(75, 181, 67);
  animation: vis 5s ease-in-out forwards;
}

@keyframes vis {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  } 
}

.standings-text{
 position: absolute; 
 top:30px;
 
 color: aliceblue;
 font-size: 30px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 animation: vis 5s ease-in-out forwards;
}

/* @media only screen and (max-width: 2000px) and (min-height: 1000px){
 
  .menu-navbar{
    position: relative;
    width: 100%;
    right: 0px;
    font-size: 10px;
    height: 60px;
    padding: 0px;
    display: flex;
  
    flex-direction: row;
   
    align-items: center;
   
  }
  .menu-title{
    font-size: 30px;
    position: relative;
   
  }
  .play-buttons{
    width: 100%;
    font-size: 10px;
    top:100px;
  }
  .play-buttons-btn{
    font-size: 15px;
  }
  .account-details-par{
    width: 50px;
    font-size: 10px;
  }
  .account-details{
    font-size: 10px;
    border: 1px rgb(116, 113, 113)solid;
  }
  .leaderboard-container{
    position: relative;
    width: 90%;
    height: 400px;
    left: 0px;
    top:100px;
    
    transform: scale(0.9);
    font-size: 10px;
   
  }
  .search-bar{
   
    position: relative;
    top: 0px;
    transform: scale(0.8);
    width: 100%;
    left: 0px;
    
    height: 100px;
  }
  .leader-search-container{
    
    top: 150px;
    left:0px;
    width: 100%;
    position: relative;
    padding: 0px;
    display: flex;
    height: 400px;
    flex-direction: column-reverse;
    
    align-items: center;

  }
  .create-room-page{
    width: 100vw;
    height: 100vh;
    outline: 1px solid red;
    padding: 0px;
   
  }
  .search-input{
    width: 100%;
  }
  .table-body-container{
    max-height: 200px;
  }
  .menu-logo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
   
  }
  .menu-logo:hover{
    cursor: pointer;
  }
  .sidebar-container{
    background-color:#151414;
    z-index: 10;
    transform: scale(0.7);
    width: 300px;
    height: 100vh;

    user-select: none;
    position: absolute;
    left: -40px;
    top:0px;
  }
  .MenuPage{
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  .multiplayer-buttons{
    top: 10px;
    position: relative;
    width: 100%;
    left: 0px;
    
  }
  .start-game-btn{
    
    width: 100px;
    font-size: 10px;
    padding: 5px;
  }
  .leave-btn{
    width: 100px;
    font-size: 10px;
    padding: 5px;
  }
  .invite{
    width: 100px;
    font-size: 10px;
    padding: 5px;
  }
  .room-gamedetails-container{
    left: 0px;
    width: 100%;
    outline : 1px solid red;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .game-container{
    transform: scale(0.6);
    position: relative;
    top:-100px;
    height: fit-content;
    width: fit-content;
  }
  .room-players-container{
    transform: scale(0.6);
    top: -200px;
    outline: 1px solid red;
    left: 0px;
    height: 300px;
    bottom: 400px;
  }
  .games-setting-container{
    height: 200px;
    width: 500px;
  }
  .game-details-text{
    width: 500px;
  }
} */
.blur-effect {
  filter: blur(5px); 
}
