body{
  background-color: #333;
  /* height: 200px; */
  z-index: 0;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  /* height: 300px; */
  /* height: ; */
}
.Login-Page{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-title{
  color: aliceblue;
  /* font-family:  */
  font-weight: 100;
  position: absolute;
  top:20%
}
.UserPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}
.MenuPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  position: relative;
  height: 100vh;
  width: 100vw;
  /* outline: 1px wheat solid; */
}
.search-bar{
  /* outline: 1px red solid; */
  position: absolute;
  /* top : %; */
  width: 20%;
  right: 5%;
}
.search-form{
  /* outline: 1px solid  blue; */
  /* width: 100%; */
}
.search-input{
  
  height: 30px;
  width: 77%;
}
.search-btn{
  
  height: 36px;
  width: 20%;
}
.search-results{
  display: flex;
  background-color: #4b4a4a;
  /* justify-content: right; */
  outline: 1px solid rgb(4, 0, 0);
  color: white;
  /* width: 100%; */
  position: relative;
  /* margin-left:40px;  */
  /* gap : 10px; */
  padding: 10px;
}
.search-results-name{
  position: relative;
  left: 10px;
  /* justify-content: center; */
}
.search-results-add{
  /* outline: 1px solid blue; */
  position: absolute;
  right: 40px;
}
.search-results-remove{
  /* outline: 1px solid blue; */
  position: absolute;
  right: 10px;
}
.menu-navbar{
  /* background-color: aqua; */
  color: white;
  /* padding-left : 70px; */
  /* padding-bottom: 10px; */
  padding-top: 30px;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px  white ; */
  /* margin-top: 15px; */
  margin-bottom: 5px;
  position: absolute;
  top:0px;
  /* outline: 1px salmon solid; */
  /* width: 800px; */
  /* margin-right: 20px; */

}
.menu-title{
  font-weight: 80;
  /* color: aliceblue; */
  position: absolute;
  /* right: 130%; */
}
.account-details-par{
  position: absolute;
  top:10px;
  right:10px;
  /* outline:1px solid; */
  font-weight: 80;
  width: 250px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* border:1px solid; */
  /* outline: 1px rgb(116, 113, 113)solid 
   */
  border: 1px rgb(116, 113, 113)solid;
  border-radius: 5px;
  /* color: aliceblue; */
}
.account-details{
  /* outline:1px solid; */
  width : 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* border; */
  padding: 10px;
  /* margin-bottom: 10px; */
  /* position: absolute; */
}
.account-details:hover{
  cursor: pointer;
}
.account-options{
  /* outline:1px solid blue; */
  display: flex;
  background-color: #4b4a4a;
  flex-direction: column;
  justify-content: center;
  width : 100%;
  align-items: center;
  user-select: none;
  font-size: 20px;
  margin-top: 10px;
  padding: 1spx;
  /* margin-bottom: 10px; */
  /* padding: 10px; */
  /* margin-bottom: 10px; */
  /* position: absolute; */
}
.acc-btn{
  display: flex;
  width: 40%;
  /* outline: 1px saddlebrown solid; */
  /* justify-content: space-between; */
  align-items: center;
  gap:5px;
  margin:5px;
  text-decoration:none;
  color: white;
}
.acc-btn :hover{
  cursor: pointer;
}
.leader-search-container{
  /* outline: 1px solid red;  */
  width: 100%;
  margin-top: 100px;
  height: 50%;
  outline: 1px solid red;
  display: flex;
}
.leaderboard-container{
  width: 50%;
  position: relative;
  /* top : 15%; */
  left: 10%;
  outline: 1px solid rgb(152, 152, 152);
}
.leaderboard{
  color: aliceblue;
  width: 100%;
  position: relative;
  /* left: -20%; */
  /* top : -%; */
}
.leaderboard-head{
  /* outline: 1px solid white; */
}
.leaderboard-hc{
  /* outline: 1px solid white; */
  padding: 10px;
  width: 100%;
}
.leaderboard-hr{
  display: flex;
  justify-content: center;
  /* width: 100%; */
}
.leaderboard-title{
  display: flex;
  gap : 10px;
  padding: 10px;
  background-color:  #4b4a4a;
}
.table-data{
  width: 100%;
  /* outline: 1px solid white; */
  display: flex;
  justify-content: center;
  padding: 15px;
}
.table-body{
  width: 100%;
  /* outline: 1px solid  blue; */
}
.table-body-container{
  display: flex;
  justify-content: center;
  max-height: 300px;
  /* overflow-y: hidden; */
  overflow-y: scroll;
}
.table-body-container::-webkit-scrollbar {
  display: none;
}

.table-body-row{
  /* outline: 1px solid green; */
  display: flex;
  justify-items:center;
}
.play-buttons{
  /* outline: 1px solid red;  */
  width: 80%;
  size: 100px;
  display: flex;
  font-weight:lighter;
  justify-content:space-around
}
.play-buttons-btn{
  font-size: 30px;
  padding: 10px;
  background-color: rgb(75, 181, 67);
  color: aliceblue;
  /* size: 300px; */
}
.alphabet-keys{
  color: aliceblue;
  border: 1px solid white;
  width: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  text-align: center;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
} 
.keyboard{
  /* background-color: brown; */
  /* outline: 1px solid green; */
  width: 500px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
}

.keyboard-row{
  margin-top: 2px;
  display: flex;
  justify-content: center;
}
.navbar{
  /* background-color: aqua; */
  color: white;
  /* padding-left : 70px; */
  /* padding-bottom: 10px; */
  padding-top: 10px;
  font-size: 30px;
  /* width: 80%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px  white ; */
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
  /* outline: 1px salmon solid; */
  width: 800px;
  /* margin-right: 20px; */
}
.title{
  font-weight: 80;
  position: absolute;
  right: 130%;
  /* margin-top:40px; */
  /* position: absolute; */
}
.score{
  font-size: 15px;
  font-weight:100;
  margin-top: 7px;
}
.word-row{
  display: flex;
  justify-content: center;
}
.block{
  font-size:20px;
  border: 1px solid white;
  height: 20px;
  width: 20px;
  text-align: center;
  color: azure;
  padding: 20px ;
  margin: 10px 8px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.winner{
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
  height: 100px;
}
.restart{
  font-size: 30px;
  padding: 10px;
  margin-top: 20px;
}
.wordle-body{
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  /* align-items: r; */
  width:100%;
  height: 440px;
}
.winner-text{
  font-size: 30px;
  padding: 10px;
}
.hintandword{
  display: flex;
  justify-content:center;
  align-items: center;
  /* outline: 1px solid red; */
  position: relative;
  /* background-color: blue; */
}
.hintData{
  /* background-color: azure; */
  z-index: 100;
  color: aliceblue;
  height: auto;
  width: 200px;
  text-align: left;
  padding: 20px;
  border-radius: 3px;
  font-weight: 100;
  margin-top: 10px;
  margin-left:30px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.Words{
  margin-bottom: 10px;
  margin-top: 2px;
  /* background-color:red; */
  /* margin-right:400px; */
  display: block;
  justify-content: center;
}
.hint-btn{
  padding: 5px;
  background-color: rgb(75, 181, 67);
  color: azure;
  width: 100px;
  border: 1px solid black;
}
.hints{
  /* outline:5px solid red; */
  position: absolute;
  top: 0;
  left: 120%;
  margin-left: 10px;
  margin-top: 22px; 
}
.login-container{
  margin-top: 200px;
  width: 300px;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* display: flex;
  flex-direction: coont;
  justify-content: center; */
}

.submit-container{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.login-btn{
  margin: 5px;
  /* margin-bo: 5px; */
  font-size: 15px;
  padding: 10px;
  background-color: rgb(75, 181, 67);
  color:whitesmoke;
  font-weight: 50;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.signup-btn{
  margin: 5px;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(43, 130, 231);
  color:whitesmoke;
  font-weight: 50;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.signup-btn:hover{
  cursor: pointer;
}
.login-btn:hover{
  cursor: pointer;
}
.username-input{
  height: 30px;
  margin-top: 20px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  /* position: absolute; */
}
.password-input{
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 2px;
  border: none;
}

.header{
  position: relative;
  margin-top: 20px;
  color: aliceblue;
}